{% comment %}
  Wishlist icon component for CozyWhimsy theme header
  
  Usage:
  {% render 'wishlist-icon' %}
{% endcomment %}

<a href="/pages/wishlist" class="icon-link" aria-label="{{ 'wishlist.view_wishlist' | t }}">
  <div class="icon-wrapper">
    <i class="fas fa-heart"></i>
    <span class="cart-count wishlist-count" data-wishlist-count>0</span>
  </div>
</a>
